# https://github.com/nicklockwood/SwiftFormat/blob/master/Rules.md

--exclude **Tests/**, Package.swift, fastlane/**, **/Package.swift

# format options

--symlinks ignore
--swiftversion 6.2

# format options

--closingparen same-line
--commas inline
--comments indent
--decimalgrouping 3,5
--exponentcase lowercase
--exponentgrouping disabled
--fractiongrouping disabled
#--ifdef no-indent
--import-grouping testable-top
--operatorfunc no-space
--nospaceoperators ..<, ...
--selfrequired validate
--stripunusedargs closure-only
--wraparguments after-first
--wrapparameters after-first
--disable wrapArguments
--indent 4
--maxwidth 150
--wrap-collections before-first
--ranges no-space


# rules

--disable wrapMultilineStatementBraces

--enable isEmpty,\
blankLineAfterImports,\
sortSwitchCases,\
redundantAsync,\
noGuardInTests,\
preferFinalClasses,\
privateStateVariables,\
propertytypes inferred,\
